<section class="heroSection" id="heroSection">
  <div class="container">
    <div class="banner">
      <div class="largeBox">
        <h1 class="title">Delicious</h1>
      </div>
      <div class="combined_boxes">
        <div class="imageBox">
          <img src="./hero1.png" alt="hero" />
        </div>
        <div class="textAndLogo">
          <div class="textWithSvg">
            <h1 class="title">Food</h1>
            <h1 class="title dishes_title">Dishes</h1>
            <img src="./threelines.svg" alt="threelines" />
          </div>
          <img class="logo" src="logo.svg" alt="logo" />
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="imageBox">
        <img src="hero2.png" alt="hero" />
      </div>
      <h1 class="title dishes_title">Dishes</h1>
    </div>
  </div>
</section>
