<section class="orders light-section">
    <div class="container mx-auto pt-12">
    <center> <h1 class="font-bold text-3xl mb-4">New Orders</h1></center>   
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Customer</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">status</th>
                    <th class="px-4 py-2 text-left">Placed at</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
        </table>
    </div>
</section>
<footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto flex items-center justify-between">
        <p class="text-sm">Developed by Evelyn Jessica | Meal Mate &copy; 2024. All rights reserved.</p>
        <ul class="flex items-center">
            <li class="ml-4"><a href="#">Privacy Policy</a></li>
            <li class="ml-4"><a href="#">Terms of Service</a></li>
            <!-- Add other necessary links here -->
        </ul>
    </div>
</footer>
